/* Контакты */
.contacts {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 39px;

  border: solid 2px orange; // временная рамка для сетки
}

.contacts__wrapper {
  width: 260px;
  margin: 0 auto;
}

.contacts__title {
  margin-bottom: 42px;
}

.contacts__list {
  margin-bottom: 42px;
}

.contacts__map {
  margin-bottom: 39px;
}

.contacts__write {
  padding-left: 52px;
  padding-top: 19px;
  padding-right: 52px;
  padding-bottom: 19px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700px;
  color: $color-button;
  text-align: center;
  text-transform: uppercase;

  border: $border-button;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 772px;
  }

  .contacts__wrapper {
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1150px;
  }

  .contacts__wrapper {
    width: 1050px;
  }
}
