/* Внутренние страницы */
.inner-main__wrapper {
  margin-bottom: 30px;
  padding-left: 42px;
  padding-top: 76px;
  padding-bottom: 74px;

  background-color: $bg-grey;
}

.inner-main__title {
  margin: 0;
}

.inner-main__intro {
  font-size: 13px;
  line-height: 24px;
}
