/* Процесс производства */
.manufacturing-process {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 58px;

  border: solid 2px orange; // временная рамка для сетки
}

.manufacturing-process__wrapper {
  width: 260px;
  margin: 0 auto;
  border: solid 1px #ececec;
}

.manufacturing-process__title {
  padding-left: 91px;
  padding-top: 29px;
  padding-bottom: 26px;
}

.manufacturing-process__button {
  padding-left: 26px;
  padding-top: 20px;
  padding-right: 26px;
  padding-bottom: 16px;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $color-text;
  text-align: center;
  text-transform: uppercase;

  border: $border-button;
}

@media (min-width: $tablet-width) {
  .manufacturing-process {
    width: 769px;
  }

  .manufacturing-process__wrapper {
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .manufacturing-process {
    width: 1150px;
  }

  .manufacturing-process__wrapper {
    width: 1050px;
  }
}
