/* Окно попап */
.modal {
  width: 320px;
  margin: 0 auto;

  border: solid 2px orange; // временная рамка для сетки
}

.modal__wrapper {
  width: 260px;
  margin: 0 auto;
}

.modal__form-list {
  @include reset-list;
}

.modal__button {
  padding-left: 82px;
  padding-top: 20px;
  padding-right: 83px;
  padding-bottom: 16px;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $color-button-modal;
  text-align: center;
  text-transform: uppercase;

  background-color: $bg-greenlight;

  border: none;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 768px;
  }

  .modal__wrapper {
    width: 566px;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    width: 1150px;
  }

  .modal__wrapper {
    width: 566px;
  }
}
