/* Футер */
.page-footer {
  width: 320px;
  margin: 0 auto;
  height: 160px;

  background-color: #f1f1f1;

  border: solid 2px orange; // временная рамка для сетки
}

.page-footer__wrapper {
  width: 260px;
}

// Стили для планшета
@media (min-width: $tablet-width) {
  .page-footer {
    width: 772px;
  }

  .page-footer__wrapper {
    width: 668px;
  }
}

// Стили для десктопа
@media (min-width: $desktop-width) {
  .page-footer {
    width: 1150px;
  }

  .page-footer__wrapper {
    width: 1050px;
  }
}
