.product-range {
  position: relative;

  width: 320px;
  margin: 0 auto;
  margin-top: -18px;
  margin-bottom: 34px;
  min-height: 500px;

  background: $bg-grey url("../img/hero-mobile@1x.jpg") no-repeat 50% 0%;
}

.product-range__wrapper {
  width: 260px;
  margin: 0 auto;
}

.product-range__promo {
  margin: 0;
  padding-top: 88px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #010000;
}

.product-range__list {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 320px;

  @include reset-list;
}

.product-range__item {
  //margin: 0;

  height: 103px;

  &--light {
    position: relative;
    background-color: $bg-greenlight;
  }

  &--dark {
    position: relative;
    background-color: $bg-greendark;
  }
}

.product-range__link {
  display: block;
  margin: 0;
  padding-left: 28px;
  padding-top: 25px;
  padding-right: 185px;
  padding-bottom: 34px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;

  //border: solid 1px red;
}

.product-range__item--interior {
  position: absolute;
  top: 23px;
  right: 37px;

  path {
    fill: #149080;
  }
}

.product-range__item--toys {
  position: absolute;
  top: 21px;
  right: 27px;

  path {
    fill: #149080;
  }
}


// Стили для планшета
@media (min-width: $tablet-width) {
  .product-range {
    position: relative;
    width: 772px;
    height: 746px;
    margin-top: -59px;

    background: $bg-grey url("../img/hero-tablet@1x.jpg") no-repeat 50% 0%;

    border-top: solid 1px #ececec;
  }

  .product-range__wrapper {
    width: 668px;
    height: 746px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-range__promo {
    margin: 0;
    padding-top: 152px;

    font-size: 43px;
    line-height: 50px;
  }

  .product-range__item {
    height: 119px;
    width: 334px;
  }

  .product-range__list {
    position: initial;
    display: flex;
    flex-direction: row;

    width: auto;
  }

  .product-range__link {
    padding-left: 35px;
    padding-top: 26px;
    padding-right: 185px;
    padding-bottom: 34px;

    font-size: 20px;
    line-height: 30px;
  }

  .product-range__item--interior {
    top: 28px;
    right: 37px;
  }

  .product-range__item--toys {
    top: 30px;
    right: 34px;
  }

  .bg-zigzag {
    position: absolute;
    bottom: -10px;
    width: 770px;
    height: 24px;
  }
}

// Стили для десктопа
@media (min-width: $desktop-width) {
  .product-range {
    width: 1150px;
    margin-top: -62px;

    background: $bg-grey url("../img/hero-desktop@1x.jpg") no-repeat 50% 0%;
  }

  .product-range__wrapper {
    width: 1050px;
  }

  .product-range__promo {
    margin: 0;
    padding-top: 154px;

    font-size: 53px;
    line-height: 57px;
  }

  .product-range__item {
    width: 525px;
  }

  .product-range__link {
    padding-right: 377px;
  }

  .bg-zigzag {
    width: 1250px;
    height: 34px;
  }
}
