/* Отзывы */
.reviews {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.reviews__wrapper {
  width: 260px;
  margin: 0 auto;
}

.reviews__title {
  margin-bottom: 38px;
}

.reviews__item {
  margin: 0;
  margin-bottom: 36px;
}

.reviews__text {
  margin-bottom: 40px;
}

.reviews__author-name {
  margin-bottom: 36px;
}

.reviews__write {
  padding-left: 81px;
  padding-top: 19px;
  padding-right: 80px;
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: $color-text;
  text-align: center;
  text-transform: uppercase;

  border: $border-button;
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 772px;
  }

  .reviews__wrapper {
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1150px;
  }

  .reviews__wrapper {
    width: 1050px;
  }
}
