.site-list__link {
  display: block;
  padding: 27px 45px;

  color: #000000;

  border-bottom: solid 1px #ececec;
}

.site-list a[href] {
  &:hover {
    color: #666666;
  }

  &:active {
    color: #b3b3b3;
  }
}
