/* блоки на главной странице */
@import "normalize.scss";
@import "variables.scss";
@import "mixin.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/user-list.scss";
@import "blocks/page-main.scss";
@import "blocks/product-range.scss";
@import "blocks/product-week.scss";
@import "blocks/advantages.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";

/* блоки на странице каталога */
@import "blocks/inner-main.scss";
@import "blocks/products.scss";
@import "blocks/manufacturing-process.scss";
@import "blocks/modal.scss";

/* блоки на странице формы заказа */
@import "blocks/order.scss";

@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

body {
  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: $color-text;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $color-title;
}

h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $color-title;
}

h3 {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-title;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
