/* Переменные */
$color-text: #444444;
$color-title: #000000;
$color-button: #444444;
$color-button-modal: #ffffff;
$color-greenlight: #63d1bb;
$color-black: #000000;

$bg-white: #ffffff;
$bg-grey: #f1f1f1;
$bg-greenlight: #63d1bb;
$bg-greendark: #56c3b2;

$border-button: solid 2px $color-button;

$table-width: 768px;
$desktop-width: 1200px;
